@media only screen and (max-width: 480px) {
    #cont{
        position: absolute;
        top: 25%;
        left:0%;
        border:solid 1px;
        box-shadow: 0 4px 16px 0 rgba(0,0,0,0.2);
        border-radius:10px;
        padding:15px;
    }
  }

body,html{
    width:100%;
    height:100%;
    margin:0;
}

:root {
    --progress: 0%;
}

#bar {
    width: 100%;
    background-color: grey;
  }
  
  #barProg {
    width: var(--progress);
    height: 30px;
    background-color: green;
  }

  #particles-js{
      background-color:#232741;
      height:100vh;
      width:100vw;
  }
  
  #cont{
      position: absolute;
      top: 25%;
      left:35%;
      border:solid 1px;
      box-shadow: 0 4px 16px 0 rgba(0,0,0,0.2);
      border-radius:10px;
      padding:15px;
  }

  #cont:hover {
  box-shadow: 0 8px 32px 0 rgba(0,0,0,0.2);
}

.input{
    border-radius:15px;
    border-width: 1px;
    margin:10px;
    height:25px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}

button{
    height:30px;
    border-radius:10px;
    margin:10px 37%;
    border:none;

}
button:hover{
    box-shadow: 0 8px 1000px 0 rgba(0,0,0,0.2);
    border:5px;
}

@media only screen and (max-width: 480px) {
    #cont{
        position: absolute;
        top: 25%;
        left:45px;
        border:solid 1px;
        box-shadow: 0 4px 16px 0 rgba(0,0,0,0.2);
        border-radius:10px;
        padding:15px;
    }
  }

  @media screen and (max-width: 390px) {
    #cont{
        position: absolute;
        top: 25%;
        left:25px;
        border:solid 1px;
        box-shadow: 0 4px 16px 0 rgba(0,0,0,0.2);
        border-radius:10px;
        padding:15px;
    }

}