:root {
    --progress: 0%;
}

#bar {
    width: 100%;
    background-color: grey;
  }
  
  #barProg {
    width: var(--progress);
    height: 30px;
    background-color: green;
  }

  body {
    margin-left: auto;
    margin-right: auto;
    max-width: 40em;
    width: 88%;
    }
    label,
    input,
    textarea {
    width: 100%;
    }
    label {
    font-weight: bold;
    }
    input,
    textarea {
    margin-bottom: 2em;
    }
    textarea {
    height: 12em;
    }